*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
    
  margin-top: 20px;
}
.card{
    padding: 20px;
    display: flex;
  /* flex-direction: column; */
  position: relative;
  
}
.imgContainer{
    width: 412px;
    height: 618px;
    /* height: 400px; */
    border-radius: 27px;
}
.movieImage{
    border-radius: 10px;
    width: 100%;
  }
  .cardDetails{
    display: block;
    margin-left: 30px;
    width: 838px;
   
  }
  .h1{
    font-weight: 600;
    font-size: 48px;
  }
  .span{
    color: #858585;
    size: 12px;

  }
  .ratingStar {
    color: #f39c12 ; 
    font-size: 1000px;
    font-size: 2rem;
  }

  .overView{
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.5;

  }
  .genreItem {
    display: inline-block;
    background-color:  #FFE353;
    
    padding: 10px;
    margin: 15px 5px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #000; 
  }
  .detailsFooter{
    display: flex;
    gap: 50px;
    font-size: 18px;
    margin-top: 20px;
  }
 .studio{
    position: absolute;
    bottom: 100px;
    left: 430px;
 }